# Flask et extensions
Flask==3.0.2
Werkzeug==3.0.1
python-dotenv==1.0.1
Flask-WTF==1.2.1
Flask-Compress==1.14
Flask-Caching==2.1.0

# Gestion des médias
Pillow==10.2.0
python-ffmpeg==2.0.12

# YouTube downloader
yt-dlp==2025.01.26

# Essentials
qrcode==7.4.2
shortuuid==1.0.11
python-magic==0.4.27
cryptography==42.0.2
requests==2.31.0

# Utilitaires
python-dateutil==2.8.2
humanize==4.9.0

# Optimisation
gunicorn==21.2.0
brotli==1.1.0

# Dépendances de sécurité
certifi>=2024.2.2
urllib3>=2.2.0